#board {
  margin: auto;
  margin-top: 0px;
  height: 500px;
  width: 900px;
  border: 1px solid white;
  background: black;
}

h1,p{
	font-family: 'Press Start 2P', cursive;
	text-align: center;
  color: white;
	margin-top: 4px;
	margin-bottom: 4px;
}

body {
    background-image: url("background.png");
    background-color: #cccccc;
}

